.row {
  display: flex;
}

.column {
  flex: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.jp-RenderedImage {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}